<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cta">
    <div class="container">
        <h2 class="title">
            Start Working Towards
            <br/>
            Clinical Trials Today
        </h2>
        <p>
            AAV GTx Consultation can assist with optimization of vector design, and development toward developmental clinical candidate selection, and assist in working with CRO and CDMO and preparation of the IND submission documents.
        </p>
        <a href="/contact" class="cs-button-solid">Reach out for Consultation Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/aav-art.png">
        <source media="(min-width: 601px)" srcset="/assets/images/aav-art-m.png">
        <img aria-hidden="true" decoding="async" src="/assets/images/aav-art.png" alt="AAV Depiction" loading="lazy" width="2500" height="1667">
    </picture>

</section>