---
title: 'About | AAVGTx Consultation'
description: 'Meta description for the page'
preloadImg: '/assets/images/lab-writing.png'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/aav-art-m.png">
            <source media="(min-width: 601px)" srcset="/assets/images/aav-art.png">
            <img aria-hidden="true" decoding="async" src="/assets/images/aav-art.png" alt="aav artistic depiction" loading="eager" width="2500" height="1667">
        </picture>

    </section>

    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/lab-writing-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/lab-writing.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/lab-writing.png" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/aav-diagram-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/aav-diagram.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/aav-diagram.png" alt="aav diagram" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About AAV GTx Consultation</h2>
                <p class="cs-text">
                    AAV GTx Consultation specializes in guiding AAV gene therapy companies through the IND submission process. Our expertise in GLP study design, functional assay development, and preparation of IND documentation helps clients in the ophthalmology and otology fields achieve successful IND approvals.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        AAV GTx Consultation can assist with optimization of vector design, and development toward developmental clinical candidate selection, and assist in working with CRO and CDMO companies, and assist in preparation of the IND submission documents.
                    </p>
                    <span class="cs-name">Adrian M. Timmers, Ph.D.</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
             
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}