---
title: 'AAV GTx Consultation | Clinical Trial Consultation | Burlington, MA'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="hero-227">
    <div class="cs-container">
        <div class="cs-flex-group">
            <span class="cs-topper">AAV GTx Consultation</span>
            <h1 class="cs-title">Expert consulting services to fast track your company to clinical trials</h1>
            <p class="cs-text">
                If you are in developing stages for AAV based gene therapies or have already chosen a clinical candidate or are getting ready to perform IND enabling studies, AAV GTx Consultation can be of help. Reach out for a free initial communication.
            </p>
            <a href="" class="cs-button-solid">Explore More</a>
            <a href="" class="cs-button-transparent">
                <img class="cs-img" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Hero/play.svg" alt="play icon" width="17" height="17" aria-hidden="true">
                Learn More
            </a>
        </div>
        <!--Service Cards-->
        <ul class="cs-card-group">
            <li class="cs-item">
                <a class="cs-link" href="">
                    <span class="cs-number">01</span>
                    <h2 class="cs-h2">Vector Design and Clinical Candidate Selection</h2>
                    <p class="cs-item-text">
                        Promoter design and promoter enhancement (regulatory elements); sufficient expression levels in target cells; efficient and cost effective production of therapeutic vector require careful design and review.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <span class="cs-number">01</span>
                    <h2 class="cs-h2">Design of IND enabling studies and GLP Tox studies</h2>
                    <p class="cs-item-text">
                        IND enabling studies and selection of appropriate animal models, design and execution of efficacy studies and GLP toxicology studies and biodistribution.
                    </p>
                </a>
            </li>
            <li class="cs-item">
                <a class="cs-link" href="">
                    <span class="cs-number">01</span>
                    <h2 class="cs-h2">Functional Potency Assay Design</h2>
                    <p class="cs-item-text">
                        The beauty and strength of gene therapy is the cell specific promoter, the challenge for functional potency assay typically is the cell specific promoter. Often the time needed and complexity to design such assay(s) is underestimated.
                    </p>
                </a>
            </li>
        </ul>
    </div>

    <!-- Background Image -->
    <picture class="cs-picture">
        <source media="(max-width: 600px)" srcset="/assets/images/lab-landing-m.png">
        <source media="(min-width: 601px)" srcset="/assets/images/lab-landing.png">
        <img decoding="async" src="/assets/images/lab-landing.png" alt="mountains" width="2500" height="1500" aria-hidden="true">
    </picture>
</section>
                                
    <!-- ============================================ -->
    <!--                  Services                    -->
    <!-- ============================================ -->
{# 
    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/science-book-open-book-svgrepo-com.svg"
                alt="science equipment"
                width="48"
                height="48"/>
            </picture>
            <h2>Vector Design and Clinical Candidate Selection</h2>
            <p>Promoter design and promoter enhancement (regulatory elements); sufficient expression levels in target cells; efficient and cost effective production of therapeutic vector require careful design and review.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/science-symbols-on-computer-screen-svgrepo-com.svg"
                alt="science equipment"
                width="48"
                height="48"/>
            </picture>
            <h2>Design of IND enabling studies and GLP Tox studies</h2>
            <p>IND enabling studies and selection of appropriate animal models, design and execution of efficacy studies and GLP toxicology studies and biodistribution.</p>
        </div>
        <div class="card">
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/svgs/science-text-svgrepo-com.svg"
                alt="science equipment"
                width="48"
                height="48"/>
            </picture>
            <h2>Functional Potency Assay Design</h2>
            <p>The beauty and strength of gene therapy is the cell specific promoter, the challenge for functional potency assay typically is the cell specific promoter. Often the time needed and complexity to design such assay(s) is underestimated.</p>
        </div>
    </section>
 #}
    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

     <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/lab-writing-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/lab-writing.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/lab-writing.png" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/aav-diagram-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/aav-diagram.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/aav-diagram.png" alt="aav diagram" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">About Us</span>
                <h2 class="cs-title">About AAV GTx Consultation</h2>
                <p class="cs-text">
                    AAV GTx Consultation specializes in guiding AAV gene therapy companies through the IND submission process. Our expertise in GLP study design, functional assay development, and preparation of IND documentation helps clients in the ophthalmology and otology fields achieve successful IND approvals.
                </p>
                <div class="cs-flex-group">
                    <p class="cs-flex-p">
                        AAV GTx Consultation can assist with optimization of vector design, and development toward developmental clinical candidate selection, and assist in working with CRO and CDMO companies, and assist in preparation of the IND submission documents.
                    </p>
                    <span class="cs-name">Adrian M. Timmers, Ph.D.</span>
                    <span class="cs-job">CEO-Founder</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
             
            </div>
        </div>
    </section>


    <!-- ============================================ -->
    <!--            Extra Content To Rank             -->
    <!-- ============================================ -->

    <section id="sbs-r">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <picture class="cs-picture cs-picture1">
                    <source media="(max-width: 600px)" srcset="/assets/images/pills-lab.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/pills-lab-m.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/pills-lab.png" alt="laboratory writing" loading="lazy" width="400" height="560">
                </picture>
                </picture>
                <picture class="cs-picture cs-picture2">
                    <source media="(max-width: 600px)" srcset="/assets/images/lab-writing-m.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/lab-writing.png">
                    <img aria-hidden="true" decoding="async" src="/assets/images/lab-writing.png" alt="cabinets" loading="lazy" width="400" height="563">
                </picture>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">IND Application Design</h2>
                <p class="cs-text">
                    A successful IND (investigational new drug) application will have three major components addressing CMC (chemistry, manufacturing and control), pharmacology and toxicology, and clinical study protocol. The team at AAV GTx Consultation can assist you in every aspect of an IND application and help navigate and work on preparation of several additional critical components (e.g. functional potency assays).
                </p>
                <p class="cs-text">
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Non tenetur, iure nihil ipsam qui atque commodi id voluptatem nesciunt, quis animi fuga cum doloribus! Eaque laboriosam, unde consectetur iure asperiores ullam. Consequuntur debitis a voluptatibus vitae optio autem explicabo quia neque est quas, in placeat. Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus modi laudantium voluptatibus rem libero error minus quia eligendi sapiente eos.
                </p>
                <a href="/about" class="cs-button-solid">More About Us</a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

   

    {% include 'components/cta.html' %}
{% endblock %}